*{
    list-style: none;
}

:root{
    --main-bg-color:#f5f5f5;
    --h2-bg-color:#D3D3D3FF;

    --h1-color: #132035FF;

    --black: #000;
    --night: #007;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

.separator{
    margin: 20px 10%;
    width: 80%;
    height: 6px;
    border-radius: 10px;
    background-color: var(--black);
}

/*------------------- Header -------------------*/

#photo-head img{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin: 10rem 1rem 1rem 15rem;
    position: absolute;
    left: 0;
}

h1{
    position: absolute;
    right: 0;
    margin: 20rem 15rem 1rem 1rem;
    font-family: "lato", Helvetica, sans-serif;
    color: var(--h1-color);

    text-transform: uppercase;
    letter-spacing: 1px;
}

/*------------------- Presentation -------------------*/

#presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 75vw;
    height: 100vh;
}

/*------------------- Competence -------------------*/

summary{
    display: flex;
    justify-content: center;

    margin: 0 20%;
}

summary > h2 {
    background-color: var(--h2-bg-color);
    border-radius: 20px 20px 0 0;

    width: 100%;
    text-align: center;

    height: 3rem;

    font-size: 1rem;
    font-weight: bold;
}

#competence details div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#competence details div>*{
    width: 90vw;
}


/*------------------- Project -------------------*/
#project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20%;
    gap: 2rem;
}

#project .date::before{
    content: " ";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: var(--black);
    border-radius: 50%;
    margin-left: -0.5rem;
    margin-right: 1rem;
}

#project .night .date::before{
    background-color: var(--night);
}

#project .title{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#project li{
    border-left: solid;
    padding:0 0 1rem 0;
}

#project ul{
    padding: 0;
}

#project .description{
    padding-left: 4rem;
}